<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="c:\webserver\flask-on-iis\env\scripts\python.exe|c:\webserver\flask-on-iis\env\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

    <appSettings>
        <add key="PYTHONPATH" value="C:\webserver\flask-on-iis\"/>
        <add key="WSGI_HANDLER" value="index.app"/>
        <add key="WSGI_LOG" value="C:\webserver\flask-on-iis\logs\wfastcgi.log"/>
    </appSettings>
</configuration>